* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSANS;
}

body {
  /* background-color: #e2e2e2; */
  margin: auto;
  width: 1200px;
  margin-top: 75px;
}
header {
  display: flex;
  width: 1200px;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  /* border-bottom: 2px solid #6f8a33; */
  transition: all 0.2s ease-in;
  z-index: 5;
  box-shadow: 0px 8px 15px -16px rgba(66, 68, 90, 0.5);
}

.ham {
  display: none;
}

header img {
  width: 70px;
  height: 70px;
  transition: all 0.2s ease;
}

header img:hover {
  width: 75px;
  height: 75px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  text-decoration: none;
}

header nav ul li {
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.link {
  color: #000;
  transition: all 0.2s ease;
}

.link:hover {
  color: #6f8a33;
}

header nav ul li:hover {
  color: #6f8a33;
  font-weight: 500;
  transform: scale(1.2);
  padding: 0 10px;
}

header .khadamat {
  margin: 0 10px;
  padding: 5px 25px;
  border-radius: 30px;
  background-color: #6f8a33;
  transition: all 0.2s ease;
}

header .khadamat:hover {
  margin: 0 10px;
  padding: 5px 27px;
  border-radius: 30px;
  background-color: #244082;
}

header a {
  color: #fff;
  text-decoration: none;
}

footer div {
  margin-top: 30px;
  background-color: #4d4d4d;
  width: 1200px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin: auto; */
  justify-content: flex-start;
  /* margin-top: -170px; */
  margin-top: 60px;
}

main .cards .card {
  width: 32%;
  overflow: hidden;
  margin: 10px 5px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

main .cards .card:hover {
  box-shadow: 0px 1px 8px -3px rgba(66, 68, 90, 0.59);
}

.card-p {
  padding: 10px;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

main .card-text h3 {
  margin-top: -10px;
  font-size: 1rem;
  padding: 15px;
}

main .card-text p {
  margin: -15px auto 5px auto;
  text-align: justify;
  font-size: 0.8rem;
  padding: 15px;
}

main .cards .card .img-card {
  width: 100%;
  transition: all 0.2s ease-in;
}

main .cards .card .img-card:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.footer-card a {
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-card a img {
  width: 25px;
  margin-top: 10px;
}

.footer-card a:first-child {
  color: #244082;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.footer-card a:last-child {
  background-color: #244082;
  border: 2px solid #244082;
  padding: 3px 13px;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.footer-card a:last-child:hover {
  border: 2px solid #244082;
  background-color: #fff;
  padding: 3px 13px;
  color: #244082;
  border-radius: 20px;
}

.cover-card {
  width: 100%;
  overflow: hidden;
  background-color: #244082;
  height: 227px;
}

@media (max-width: 557px) {
  header {
    margin: auto;
    width: 100%;
  }

  .khadamat {
    display: none;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: #244082;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + ul + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + ul + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .ham {
    display: inline-block;
  }
  #toggle-nav:checked + ul {
    transform: translateX(0);
    box-shadow: -5px 0px 120px -15px rgba(66, 68, 90, 0.5);
  }

  .list-menu {
    transform: translateX(270px);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    /* background-color: #6f8a33; */
    background-color: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(10px); */
    width: 270px;
    list-style-type: none;
    padding: 20px;
    transition: all 0.3s ease-out;
  }

  .list-menu li {
    line-height: 40px;
    /* background-color: rgba(90, 100, 69, 0.568); */
    /* border: 2px solid #6f8a33; */
    background-color: #eeeeee71;
    padding: 5px 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .list-menu li:hover {
    background-color: #6f8a33;
  }

  .list-menu a li {
    text-decoration: none;
    color: #6f8a33;
  }

  .list-menu a li:hover {
    text-decoration: none;
    color: #fff;
  }
  body {
    width: auto;
  }

  footer div {
    margin: auto;
    width: calc(100% - 20px);
  }

  main .cards {
    margin-top: 0;
    padding: 5px;
  }

  main .cards .card {
    width: 100%;
    overflow: hidden;
    margin: 10px 5px;
    border-radius: 10px;
    transition: all 0.2s ease;
  }

  .card-p {
    padding: 10px;
  }

  .footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  main .card-text h3 {
    margin-top: -10px;
    font-size: 1rem;
    padding: 15px;
  }

  main .card-text p {
    margin: -15px auto 5px auto;
    text-align: justify;
    font-size: 0.9rem;
    padding: 15px;
  }

  .cover-card {
    width: 100%;
    overflow: hidden;
    background-color: #244082;
    height: 274px;
  }
}
